{% extends 'base.html.twig' %}

{% block title %}English Words Overflow: {{ word }}{% endblock %}

{% block body %}

    <main>

        <h4>Meaning of "{{ word }}" in the Oxford Dictionary:</h4>
        <ul>
            {% for result in results %}
                        {% for definition in result.definitions %}
                            <li>{{ definition }}</li>
                        {% endfor %}
            {% endfor %}
        </ul>

        <h4>Examples of "{{ word }}":</h4>
        <ul>
            {% for result in results %}
                {% for example in result.examples %}
                    <li>{{ example }}</li>
                {% endfor %}
            {% endfor %}
        </ul>

        <h4>Pronunciation:</h4>
        <ul>
            {% for result in results %}
                {% for link in result.pronunciations %}
                            <audio controls>
                                <source src="{{ link }}" type="audio/mp3">
                            </audio>
                {% endfor %}
            {% endfor %}
        </ul>

    </main>

{% endblock %}
